#bizCardNavMenu {
  li {
    a {
      &:hover {
        color: $brand-02 !important;
        border-color: $color-white !important;
        background-color: $color-white !important;
      }
      &:focus {
        color: $brand-02 !important;
        border-color: $color-white !important;
      }
    }
    &.lotusSelected{
      border-color: $color-white !important;
      a:hover{
        color: $brand-01 !important;
      }
      &:focus{
        border-bottom: 4px solid $border-selected!important;
      }
    }
  }
}
