//----Colors Overwrite----//
$brand-01: #007FAB;
$brand-02: #049FD9;
$brand-03: #FFFFFF;
$color-gray-50: #58585B;
$text-02: $color-gray-50;
$border-selected: $brand-02;
$btn-primary-fill: $brand-02; 
$btn-primary-outline: $brand-02;
$btn-primary-fill-hover: $brand-01;
$btn-primary-text-hover: $color-white;
$btn-secondary-outline: $brand-02;
$btn-secondary-text: $brand-02;
$btn-secondary-fill-hover: $brand-02;
$btn-secondary-outline-hover: $brand-02;
